
<a href="../Adventurer/Index" class="btn btn-primary btn-lg">Adventurers</a>
<a href="../BadGuy/Index" class="btn btn-primary btn-lg">BadGuys</a>
<a href="../Planet/Index" class="btn btn-primary btn-lg">PLanets</a>
